[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
QuinnStruct = "*"
flake8 = "*"
requests = "*"
flask-cors = "*"
pytest = "*"
mypy = "*"
pep8 = "*"
httpie = "*"

[requires]
python_version = "3.7"
